Behind[[:space:]]the[[:space:]]Speech_[[:space:]]What[[:space:]]to[[:space:]]the[[:space:]]Slave[[:space:]]Is[[:space:]]the[[:space:]]Fourth[[:space:]]of[[:space:]]July_[[:space:]]_[[:space:]]TIME.pdf filter=lfs diff=lfs merge=lfs -text
Douglass-FullText.pdf filter=lfs diff=lfs merge=lfs -text
Frederick[[:space:]]Douglass[[:space:]]delivers[[:space:]]his[[:space:]]_What[[:space:]]to[[:space:]]the[[:space:]]slave[[:space:]]is[[:space:]]the[[:space:]]Fourth[[:space:]]of[[:space:]]July__[[:space:]]speech[[:space:]]_[[:space:]]July[[:space:]]5,[[:space:]]1852[[:space:]]_[[:space:]]HISTORY.pdf filter=lfs diff=lfs merge=lfs -text
What[[:space:]]to[[:space:]]The[[:space:]]Slave[[:space:]]is[[:space:]]4th[[:space:]]of[[:space:]]July_[[:space:]]--[[:space:]]1841[[:space:]]Speech[[:space:]]by[[:space:]]Frederick[[:space:]]Douglass[[:space:]]--[[:space:]]Courtesy[[:space:]]of[[:space:]]The[[:space:]]Freeman[[:space:]]Institute.._.pdf filter=lfs diff=lfs merge=lfs -text
What[[:space:]]to[[:space:]]the[[:space:]]Slave[[:space:]]is[[:space:]]the[[:space:]]4th[[:space:]]of[[:space:]]July_.pdf filter=lfs diff=lfs merge=lfs -text
douglass_july_4_speech.pdf filter=lfs diff=lfs merge=lfs -text
A[[:space:]]Nation's[[:space:]]Story_[[:space:]]“What[[:space:]]to[[:space:]]the[[:space:]]Slave[[:space:]]is[[:space:]]the[[:space:]]Fourth[[:space:]]of[[:space:]]July_”[[:space:]]_[[:space:]]National[[:space:]]Museum[[:space:]]of[[:space:]]African[[:space:]]American[[:space:]]History[[:space:]]and[[:space:]]Culture.pdf filter=lfs diff=lfs merge=lfs -text
Frederick[[:space:]]Douglass[[:space:]]July[[:space:]]Fourth[[:space:]]Speech[[:space:]]Full[[:space:]]Text_[[:space:]]Read[[:space:]]Address.pdf filter=lfs diff=lfs merge=lfs -text
“What,[[:space:]]to[[:space:]]the[[:space:]]American[[:space:]]Slave,[[:space:]]Is[[:space:]]Your[[:space:]]4th[[:space:]]of[[:space:]]July_”[[:space:]]_[[:space:]]Headlines[[:space:]]&[[:space:]]Heroes.pdf filter=lfs diff=lfs merge=lfs -text
12.3_Primary_Source__Frederick_Douglass,_What_to_the_Slave_is_the_Fourth_of_July_(1852)_.pdf filter=lfs diff=lfs merge=lfs -text
